.heading
{
  height: 50px;
  background-color: aliceblue;
  border: 1px solid rgb(18, 162, 219);
  width: 70vw;
  border-radius: 10px;
  text-align: center;
  /* padding-bottom: 20px; */
  font-size:xx-large;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 3px 3px rgb(56, 56, 148);
  color: blueviolet;
  text-shadow: 2px 2px 4px gray;
}
.App
{
  background-color:#7B8CDE;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}